<form method="post" action="/posts">
  <p> Input Name: <input id="name" type="text" name="name"> </p>
  <p> Input Content: <input id="content" type="text" name="content"> </p>
  <input type="submit" id="submit">
</form>
